<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>

       <add name="Midas" connectionString="data Source=p-enpower;Initial Catalog=enpower_midas;User ID=ibs;Pwd=vaug"/>
       <add name="PSA" connectionString="data Source=p-enpower;Initial Catalog=pencom_standalone;User ID=ibs;Pwd=vaug"/>
       <add name="Biometric" connectionString="data Source=p-enpower;Initial Catalog=enpower_midas;User ID=ibs;Pwd=vaug"/>
       <add name="PaymentModule" connectionString="data Source=enpower40db;Initial Catalog=SurePay;User ID=ibs;Pwd=vaug"/>
       <add name="EnpowerV4" connectionString="data Source=enpower40db;Initial Catalog=EnPowerV4;User ID=ibs;Pwd=vaug"/>
       <add name="FleetMasterConnectionString" connectionString="Data Source=p-enpower;Initial Catalog=FleetMaster;Persist Security Info=True;User ID=ibs;Password=vaug" providerName="System.Data.SqlClient"/>
       <add name="PaymentModuleConnectionString" connectionString="Data Source=enpower40db;Initial Catalog=SurePay;User ID=ibs;Password=vaug" providerName="System.Data.SqlClient"/>
       <add name="EnPowerV4ConnectionString" connectionString="Data Source=enpower40db;Initial Catalog=EnPowerV4;User ID=ibs;Password=vaug" providerName="System.Data.SqlClient"/>



 </connectionStrings>
  <appSettings>

       <add key="CrystalImageCleaner-AutoStart" value="true"/>
       <add key="CrystalImageCleaner-Sleep" value="60000"/>
       <add key="CrystalImageCleaner-Age" value="120000"/>
       <add key="wsUser.User" value="http://p-midas2/webService/User.asmx"/>
       <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
       <add key="mailfilterUser" value="rmassms"/>
       <add key="mailfilterPW" value="bonus+3aa"/>
       <add key="mailfilterDomains" value="pensure-nigeria.com"/>
       <add key="mailfilterUrls" value="rmassms@leadway-pensure.com"/>
       <add key="mailfiltersubject" value="Daily"/>
       <add key="mailfiltertexts" value="validated successfully"/>
       <add key="FileNetUName" value="o-taiwo"/>
       <add key="FileNetUPWD" value="Fanthony16,..,"/>
       <add key="FileNetURI" value="http://172.16.0.32:9080/wsi/FNCEWS40MTOM/"/>



  </appSettings>
</configuration>