<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MultiFund" connectionString="data Source=enpowertest;Initial Catalog=MultiFundDB;User ID=MultiFund;Pwd=Password@123" />
    <add name="PFA" connectionString="data Source=b-enpower;Initial Catalog=Moneybook_PFA;User ID=ibs;Pwd=vaug" />
    <add name="Fund" connectionString="data Source=p-enpower;Initial Catalog=Moneybook_Fund;User ID=ibs;Pwd=vaug" />
    <add name="RSK" connectionString="data Source=p-enpower;Initial Catalog=RiskCo;User ID=ibs;Pwd=vaug" />
    <add name="RMAS" connectionString="data Source=p-enpower;Initial Catalog=enpower_midas;User ID=ibs;Pwd=vaug" />
    <add name="IRSA" connectionString="data Source=p-enpower;Initial Catalog=Moneytor_INV;User ID=ibs;Pwd=vaug" />
    <add name="IRetiree" connectionString="data Source=p-enpower;Initial Catalog=Moneytor_RSAR;User ID=ibs;Pwd=vaug" />
    <add name="ILTF" connectionString="data Source=p-enpower;Initial Catalog=Moneytor_PTF;User ID=ibs;Pwd=vaug" />
    <add name="ICBN" connectionString="data Source=p-enpower;Initial Catalog=Moneytor_CBN;User ID=ibs;Pwd=vaug" />
    <add name="RSA" connectionString="data Source=p-enpower;Initial Catalog=Moneybook_Fund;User ID=ibs;Pwd=vaug" />
    <add name="Retiree" connectionString="data Source=p-enpower;Initial Catalog=Moneybook_RSAR;User ID=ibs;Pwd=vaug" />
    <add name="WAPMC" connectionString="data Source=p-enpower;Initial Catalog=Moneybook_WAP;User ID=ibs;Pwd=vaug" />
    <add name="Guiness" connectionString="data Source=p-enpower;Initial Catalog=Moneybook_GGF;User ID=ibs;Pwd=vaug" />
    <add name="Enpower" connectionString="data Source=p-enpower;Initial Catalog=Enpower_Midas;User ID=ibs;Pwd=vaug" />
    <add name="MasterLodgment" connectionString="data Source=enpowertest;Initial Catalog=Moneybook_fund;User ID=ibs;Pwd=vaug" />
    <add name="PaymentModule" connectionString="data Source=enpowertest;Initial Catalog=PaymentModule;User ID=ibs;Pwd=vaug" />
    <add name="EnpowerV4" connectionString="data Source=enpowertest;Initial Catalog=EnPowerV4;User ID=ibs;Pwd=vaug" />
    <add name="FleetMasterConnectionString" connectionString="Data Source=p-enpower;Initial Catalog=FleetMaster;Persist Security Info=True;User ID=ibs;Password=vaug"
      providerName="System.Data.SqlClient" />
    <add name="PaymentModuleConnectionString" connectionString="Data Source=enpowertest;Initial Catalog=PaymentModule;User ID=ibs;Password=vaug"
      providerName="System.Data.SqlClient" />
    <add name="EnPowerV4ConnectionString" connectionString="Data Source=enpowertest;Initial Catalog=EnPowerV4;User ID=ibs;Password=vaug"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="wsUser.User" value="http://p-midas2/webService/User.asmx"/>
    <!--http://p-midas2/webService/User.asmx-->
    <add key="wsClients.Clients" value="http://p-midas2/webService/Clients.asmx"/>
    <add key="wsContributions.Contributions" value="http://p-midas2/webService/Contributions.asmx"/>
    <add key="MAPP.testersv3" value="https://midas-das-test.pensure-nigeria.com:7171/testersv3/testerport"/>
  </appSettings>
  <system.web>
       <customErrors defaultRedirect="ErrorPage.aspx" mode="RemoteOnly"></customErrors>
    <httpRuntime executionTimeout="999" maxRequestLength="2097151"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
      <assemblies>
        
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
           
        <add assembly="BCL.easyConverter4.Interop.Loader, Version=4.0.0.0, Culture=neutral, PublicKeyToken=481e0cb772795aa9"/>
        <add assembly="BCL.easyConverter4.Interop.Word, Version=4.0.0.0, Culture=neutral, PublicKeyToken=481e0cb772795aa9"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>