/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}
.DivContent
{
    width :1100px;
    margin-left :30px;
    
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    
    
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.dvSideBox
{
    float :left;
    width : 320px;
    margin-left:2px;
    
    
}
.dvBoxHeader
{
    text-align : center ;
    background-color :#3a4f63;
    font-size : 14px;
    height :25px;
}
.dvBoxbody
{
   height:100%; 
   padding:5px;
}

.dvBoxRows
{
   padding :5px 5px 5px 0px;
   
}
.dvBoxRowsFieldLabel
{
     float :left;
     padding :0px 5px 0px 0px; 
     width :120px; 
     text-align :right; 
   
   
}
.dvMiddleBox
{
   float :left;
   width :700px;
   margin-left :20px;
   
   border : 2px solid;
   
}

.dvLeftBox
{
   float :left;
   width :295px;
   margin-left :10px;
   
}

.dvActionButton
{
   float :left;
   padding  :5px;
   
}

.modalBackground
    {
        background-color: Black;
        filter: alpha(opacity=90);
        opacity: 0.8;
    }
    .modalPopup
    {
        
        background-color: #FFFFFF;
        border-width: 3px;
        border-style: solid;
        border-color: black;
        padding-top: 10px;
        padding-left: 10px;
        width: 335px;
        height: 250px;
        filter: alpha(opacity=90);
        opacity: 0.9;

    }

    .modalPopupSchedule

    {
        
        background-color: #FFFFFF;
        border-width: 3px;
        border-style: solid;
        border-color: black;
        padding-top: 10px;
        padding-left: 10px;
        width: 400px;
        height: 900px;
        filter: alpha(opacity=90);
        opacity: 0.9;

    }

.bodyMainDiv
{
     
    float:left; 
    width :100%; 
    border-radius : 20px;
    background-color : #efeff2;
    /*height : 400px;*/
}


.SubbodyMainDiv
{
     
    float:left; 
    width :98%; 
    border-radius : 20px;
    background-color : #fff;
    /*height : 385px;*/
    margin : 10px 12px 10px 12px;

}


.accordionContent {
            /*background-color: #D3DEEF;*/
            border-color: -moz-use-text-color #465c71;
             /*border-color: -moz-use-text-color #2F4F4F Black;*/
            /*465c71*/
            /*border-right: 1px dashed #2F4F4F;*/
            border-style: solid;
            /*border-style: none dashed solid;*/
            border-width: thick 2px 2px;
            padding: 10px 5px 5px;
            width: 98%;
            border-radius :20px;
            margin : 10px;
        }
 
        .accordionHeaderSelected {
            background-color: #efeff2;
            /*background-color: #5078B3;*/
            /*border: 1px solid #2F4F4F;*/
            color:black ;
            cursor: pointer;
            font-family: Arial,Sans-Serif;
            font-size: 12px;
            font-weight: bold;
            margin-top: 10px;
            padding: 5px;
            width: 100%;
        }
 
        .accordionHeader {
            /*background-color:white;*/
            background-color: #465c71;
            border: 1px solid #2F4F4F;
            color: white  ;
            cursor: pointer;
            font-family: Arial,Sans-Serif;
            font-size: 12px;
            font-weight: bold;
            margin: 10px;
            padding: 5px;
            width: 98%;
            border-radius :20px;
            /*color: #dde4ec;*/
           
        }
 
        .accordionhref {
            color: White;
            font-weight: bold;
            text-decoration: none;
        }